<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title>Update Profile</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	 <script type="text/javascript" src="javascripts/jquery-2.1.3.min.js"></script>
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> Profile Page</h1>
		<a href="/" class="btn btn-default btn-sm">Back To The Map</a>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
	</div>

	<div class="row">

		<div class="col-sm-3 col-m-3"></div>
		<div class="col-sm-6 col-m-6">
			<div class="well">
				<h3><span class="fa fa-user"></span> Your Profile</h3>		
				    
			    <form action="/updateprofile" method="post">
<!--			        <div class="form-group">
			            <label>User Name</label>
			            <input type="text" class="form-control" name="username">
			        </div>-->
			        <div class="form-group">
			            <label>Password</label>
			            <input type="password" placeholder="Leave blank if no update is needed" class="form-control" name="password">
			        </div>
			        <div class="form-group">
			            <label>Email</label>
			            <input type="text" placeholder="Leave blank if no update is needed" class="form-control" name="email" value="{{user.emails}}">
			            <p><strong>NOTE:</strong>This MUST be the email you use for your <a target="_blank" href="http://www.mountainproject.com">MountainProject.com</a> account in order to download your Mountain Project data into this application.</p>
			        </div>
			        <div class="form-group">
			            <label>Mountain Project User Key</label>
			            <input type="text" placeholder="Leave blank if no update is needed" class="form-control" name="mpuserkey" value="{{user.mountainprojkey}}">
			            <p><strong>NOTE:</strong> Get your key by logging into <a target="_blank" href="http://www.mountainproject.com">MountainProject.com</a> and then going to <a target="_blank" href="http://www.mountainproject.com/data">MountainProject.com/data</a>. Your 43 character key should be at the top of the page. </p>
			        </div>
			        <div class="form-group checkbox">
			            <label><strong>Get updates and notifications via Email</strong></label>
			            <input type="checkbox" name="getnotifications" {{#user.getnotifications}}checked{{/user.getnotifications}}>
			            <p><strong>NOTE:</strong> Getting notifications is optional but allows us to let you know if there are major changes that might affect you (like adding major features or data improvements). Email communications will be rare but this helps us to know if we should exclude you when they are used.</p>
			        </div>
			
			        <button type="submit" class="btn btn-success btn-lg">Submit</button>
			        <a href="/profile">
			        	<button type="" class="btn btn-default btn-lg">Cancel</button>
			        </a>
			    </form>

			</div>
		</div>
		<div class="col-sm-3 col-m-3"></div>

	</div>

</div>
</body>
</html>

<script type="text/javascript" >

</script>